CDM-fr/CDMFR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://cdm-fr.fr/2013/CDM" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cdmfr="http://cdm-fr.fr/2013/CDM-frSchema" targetNamespace="http://cdm-fr.fr/2013/CDM"
	elementFormDefault="qualified" version="1.1.2">

	<!-- Import for xml:lang and xml:space -->
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<!-- Import for xhtml-->
	<xs:import namespace="http://www.w3.org/1999/xhtml"
		schemaLocation="http://www.w3.org/2002/08/xhtml/xhtml1-transitional.xsd"/>
	<!-- Addons French ministry  -->
	<!--xs:import namespace="http://cdm-fr.fr/2013/CDM-frSchema" schemaLocation="CDMFR-ext.xsd"/-->
	<xs:import namespace="http://cdm-fr.fr/2013/CDM-frSchema" schemaLocation="http://cdm-fr.fr/2013/schemas/CDMFR-ext.xsd"/>
	<!--xs:import namespace="http://cdm-fr.fr/2013/CDM-frSchema" schemaLocation="CDMFR-nom.xsd"/-->
	<xs:import namespace="http://cdm-fr.fr/2013/CDM-frSchema" schemaLocation="http://cdm-fr.fr/2013/schemas/CDMFR-nom.xsd"/>
	<xs:annotation>
		<xs:documentation>Ce fichier est une partie du schema CDMFR composé de 3 fichiers 
			CDMFR-v1.1.xsd CDMFR-ext-v1.1.xsd CDMFR-nom-v1.1.xsc</xs:documentation>
		<xs:documentation xml:lang="en">program CDM-2.1 (2009-09-01) Homepage The CDM project wiki
			is hosted by Utdanning.no at http://bak.utdanning.no/CDM CDM XML Schema URI
			http://utdanning.no/schemas/CDM/2.1/CDM.xsd Reference CDM document for Norway
			(Utdanning.no) http://svn.utdanning.no/projects/cdm/trunk/reference/cdm-utdanningno.xml
			Changelog http://bak.utdanning.no/CDM/release_history Subversion $Id: CDM.xsd 15264
			2010-01-07 09:42:37Z are $ $HeadURL:
			http://svn.utdanning.no/projects/cdm/tags/cdm-2.1/xsd/CDM.xsd $ Contact Are Rikardsen,
			Utdanning.no (are@utdanning.no) </xs:documentation>
		<xs:documentation xml:lang="fr-FR"> CDMFR-2.0.2 (2011-01-31 Gérard Vidal Gerard.Vidal@ens-lyon.fr) 
			incorporation de la version 2.1
			de CDM et des résultats du groupe de travail DGESIP CDMFR-2.0 (2010-10-01) profil
			français de CDM Homepage Le profil CDMFR est hébergé par la DGESIP du MESR à l'adresse :
			http://cdm-fr.fr CDMFR XML Schema URI http://cdm-fr.fr/2011/schemas </xs:documentation>
		<xs:documentation xml:lang="fr-FR"> CDMFR-2.0.2 (2012-06-23 Gérard Vidal Gerard.Vidal@ens-lyon.fr) 
			incorporation du résultat des dicussions DGESIP AMUE GV
			Homepage Le profil CDMFR est hébergé par la DGESIP du MESR à l'adresse :
			http://cdm-fr.fr CDMFR XML Schema URI http://cdm-fr.fr/2011/schemas </xs:documentation>
		<xs:documentation xml:lang="fr-FR"> CDMFR-1.1 
			(2012-10-25 Gérard Vidal Gerard.Vidal@ens-lyon.fr) 
			(2012-10-25 Claude Viéville claude.vieville@univ-lille1.fr)
			(2012-11-27 Sébastien Courtial sebastien.courtial@recherche.gouv.fr)
			changement de numérotation, révision DGESIP AMUE GV CV
			Homepage Le profil CDMFR est hébergé par la DGESIP du MESR à l'adresse :
			http://cdm-fr.fr CDMFR XML Schema URI http://cdm-fr.fr/2011/schemas
			ce travail est placé sous licence creative commons
		    http://creativecommons.org/licenses/by-nd/3.0/</xs:documentation>
	</xs:annotation>
	<!-- ========================================= -->
	<!-- *** profil: CDMFR, version 1.1 racine *** -->
	<!-- ========================================= -->
	<xs:element name="CDM">
		<xs:annotation>
			<xs:documentation>Root element. A course information container with a collection of
				course related information. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdmfr:habilitation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="properties" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Basic packaging information that is used to manage the
							exchange of the data between the source and target
							systems</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="datasource" type="xs:token" minOccurs="0">
								<xs:annotation>
									<xs:documentation>This is the source address/identifier of the
										Enterprise system that is initiating the data
										transfer.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="target" type="xs:token" minOccurs="0"
								maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>An identifier for the target Enterprise
										System. This identifier should be capable of uniquely
										identifying the appropriate Enterprise
										System.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="type" type="xs:token" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Describes the type of event that caused the
										source system to generate the data objects.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="datetime" type="CDMdateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The date and time the data objects were
										generated by the data source.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="infoBlock" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="language" type="xs:language" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="orgUnit"/>
					<xs:element ref="program"/>
					<xs:element ref="course"/>
					<xs:element ref="person"/>
					<xs:element ref="cdmfr:lheoAdds"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="language" type="xs:language" use="optional"/>
			<!-- version: depuis "2.0.1" -->
			<xs:attribute name="version" type="xs:token" use="optional"/>
			<!-- profile:depuis "CDM-U_0.9.1" -->
			<xs:attribute name="profile" type="xs:token" use="optional"/>
			<!-- 2.1: added xs:anyAttribute to permit use of xml:lang -->
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>
	<!-- *** Types *** -->
	<!-- Simple Types -->
	<xs:simpleType name="orgUnitCodeValueSet">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for orgUnitCode.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="codeUAI"/>
			<xs:enumeration value="code RNE"/>
			<xs:enumeration value="code établissement"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="responsibleBodyValueType">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for orgUnitKind (university, high school
				etc)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="publicSuperieur"/>
			<xs:enumeration value="publicAgriculture"/>
			<xs:enumeration value="publicIndustrie"/>
			<xs:enumeration value="publicAffairesSociales"/>
			<xs:enumeration value="publicDefense"/>
			<xs:enumeration value="publicCulture"/>
			<xs:enumeration value="privé"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="programCodeValueSet">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for programCode (national codesets in
				Norway). soUtdanningsomraadet= oversikt fra SO (samordna opptak) for kategorisering
				av utdanning. so = nasjonale koder som brukes til opptak via SO. NUS= Norsk
				utdanningsstandard, defineres av SSB. vigo = kurskode 8x-serien for videregående
				skole. nff = kode som nff bruker til rapportering til
				ssb/departementet.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="soUtdanningsomraadet"/>
			<xs:enumeration value="so"/>
			<xs:enumeration value="nus"/>
			<xs:enumeration value="vigo"/>
			<xs:enumeration value="nff"/>
			<xs:enumeration value="uri"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="courseCodeValueSet">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for courseCode (national codesets in
				Norway). NUS= Norsk utdanningsstandard, defineres av SSB. nff = kode som nff bruker
				til rapportering til ssb/departementet.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="UE"/>
			<xs:enumeration value="EC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="studyPaceValueType">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for programDuration (full time, part
				time)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="plein temps"/>
			<xs:enumeration value="temps partiel"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="timeOfDayValueType">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for program teachingPlace (daytime,
				evening)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="heures ouvrées"/>
			<xs:enumeration value="cours du soir"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="degreeValueType">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for degree (degrees in
				Norway)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="bachelor"/>
			<xs:enumeration value="master"/>
			<xs:enumeration value="phd"/>
			<xs:enumeration value="hogskolekandidat"/>
			<xs:enumeration value="utgaatteKoder"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="levelValueType">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for level (levels in
				France).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="L"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="Doc"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="levelCodeValueSet">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for levelCode</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="bac"/>
			<xs:enumeration value="bac+1"/>
			<xs:enumeration value="bac+2"/>
			<xs:enumeration value="bac+3"/>
			<xs:enumeration value="bac+4"/>
			<xs:enumeration value="bac+5"/>
			<xs:enumeration value="bac+6"/>
			<xs:enumeration value="bac+7"/>
			<xs:enumeration value="bac+8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="levelCompetenceYieldingValueType">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for
				levelCompetenceYielding.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="disciplinaire et professionnelle"/>
			<xs:enumeration value="disciplinaire"/>
			<xs:enumeration value="professionnelle"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="formOfTeachingOrgValueType">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for formOfTeaching (distance education,
				centralized, decentralized). How the teaching is organized.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="formInit"/>
			<xs:enumeration value="formAppr"/>
			<xs:enumeration value="formCont"/>
			<xs:enumeration value="formPro"/>
			<xs:enumeration value="formContNonDip"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="formOfTeachingMethodValueType">
		<xs:annotation>
			<xs:documentation>Enumeration for formOfTeaching, what's the main teaching method?
				Possible values translates to face-to-face, web based, web enhanced, and
				correspondance.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="en présence"/>
			<xs:enumeration value="à distance"/>
			<xs:enumeration value="hybride"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="teachingTermValueType">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for teachingTerm (every spring, every other
				autumn etc) </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="printemps"/>
			<xs:enumeration value="automne"/>
			<xs:enumeration value="tous les ans"/>
			<xs:enumeration value="un an sur deux"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="examKindValueType">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for examKind (ordinary, continuation,
				postponed). Kontinuasjon gjelder for de som har strøket til eksamen, utsatt for de
				med gyldig fravær.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="ordinaer"/>
			<xs:enumeration value="kontinuasjon"/>
			<xs:enumeration value="utsatt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="examFormValueType">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for examForm (written,
				oral)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="skriftlig"/>
			<xs:enumeration value="muntlig"/>
			<xs:enumeration value="mappe"/>
			<xs:enumeration value="hjemmeeksamen"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="partStructureValueType">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for examOrganisation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="alternative"/>
			<xs:enumeration value="allParts"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Complex Types -->
	<xs:complexType name="programType">
		<xs:annotation>
			<xs:documentation>Description of a program. ECTS: An approved set of course units or
				modules recognised for the award of a specific degree form a study programme and can
				be defined through the set of learning outcomes to be achieved for the award of a
				specified number of credits. (I Norge: på univ. og høgskolenivå tilsvarer det
				studieprogram og studieretninger. I vgs tilsvarer det løp eller deler av løp i vgs.
				(GK, VK1 eller VK2).</xs:documentation>
		</xs:annotation>
		<!-- AR75 changed from sequence to choice with maxOcurs unbounded, to make the order of the elements insignificant.
			(The maxOccurs and minOccurs attributes on the individual elements are now obsolete)
		-->
		<xs:choice maxOccurs="unbounded">
			<xs:element name="programID" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Shorthand identification of the study
						program</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- 2.1: programName made unbounded -->
			<xs:element ref="cdmfr:programName" maxOccurs="unbounded"/>
			<xs:element ref="cdmfr:programCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="cdmfr:webLink" minOccurs="0"/>
			<!-- 2.1: programIntroduction made unbounded -->
			<xs:element name="programIntroduction" type="infoBlockType" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A (short) general introduction of the study
						program</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- 2.1: programDescription made unbounded -->
			<xs:element ref="cdmfr:programDescription" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="cdmfr:aip" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="qualification" minOccurs="0"/>
			<xs:element ref="cdmfr:ppalTeachingLanguage"/>
			<xs:element ref="level" minOccurs="1"/>
			<xs:element ref="levelCode" minOccurs="0" maxOccurs="unbounded"/>
			<!-- 2.1: learningObjectives made unbounded -->
			<xs:element ref="learningObjectives" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="admissionInfo" minOccurs="0"/>
			<!-- 2.1: recommendedPrerequisites made unbounded -->
			<xs:element ref="recommendedPrerequisites" minOccurs="0" maxOccurs="unbounded"/>
			<!-- 2.1: formalPrerequisites made unbounded -->
			<xs:element ref="formalPrerequisites" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="teachingPlace" minOccurs="0"/>
			<xs:element ref="targetGroup" minOccurs="0"/>
			<!-- 2.1: formOfTeaching made unbounded -->
			<xs:element ref="formOfTeaching" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="cdmfr:formOfAssessment"/>
			<xs:element ref="instructionLanguage" minOccurs="0"/>
			<xs:element ref="programDuration" minOccurs="0"/>
			<!-- 2.1: programStructure made unbounded -->
			<xs:element ref="programStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="cdmfr:programStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="regulations" minOccurs="0"/>
			<!-- 2.1: studyAbroad made unbounded -->
			<xs:element ref="studyAbroad" minOccurs="0" maxOccurs="unbounded"/>
			<!-- 2.1: expenses made unbounded -->
			<xs:element ref="expenses" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="universalAdjustment" minOccurs="0"/>
			<xs:element ref="contacts" minOccurs="0"/>
			<xs:element ref="infoBlock" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="subProgram"/>
				<xs:element ref="refProgram"/>
				<xs:element ref="cdmfr:refHabilitation"/>
			</xs:choice>
			<xs:element ref="searchword" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="id" type="xs:ID" use="optional"/>
		<xs:attribute name="ident" type="xs:token" use="optional"/>
		<xs:attribute name="language" type="xs:language" use="optional"/>
		<!-- 2.1:  added xs:anyAttribute to permit use of xml:lang -->
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:complexType name="examType">
		<xs:annotation>
			<xs:documentation>Exam information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="examName" type="textType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the exam</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="examKind" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of assessment: e.g. oral examination, written
						examination, oral presentation, test, paper, portfolio, thesis, report about
						an internship, report on fieldwork, continuous assessment. Kind of exam:
						e.g. ordinary, extraordinary examination.</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
					<xs:complexContent mixed="true">
						<xs:extension base="infoBlockType">
							<xs:attribute name="examKind" type="examKindValueType" use="optional"/>
							<xs:attribute name="examForm" type="examFormValueType" use="optional"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="registrationDeadline" minOccurs="0"/>
			<xs:element ref="cancelDeadline" minOccurs="0"/>
			<xs:element ref="evaluationDeadline" minOccurs="0"/>
			<xs:element ref="examStart" minOccurs="0"/>
			<xs:element ref="examEnd" minOccurs="0"/>
			<xs:element name="examDuration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Duration of the exam. </xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
					<xs:complexContent mixed="true">
						<xs:extension base="infoBlockType">
							<xs:attribute name="duration" type="xs:duration" use="optional"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="examLocation" minOccurs="0"/>
			<xs:element ref="contacts" minOccurs="0"/>
			<xs:element ref="infoBlock" minOccurs="0"/>
			<xs:element name="examStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Exam part structure </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="partStructure" type="infoBlockType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of relationships between the exam
									parts</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="examParts" type="examType" minOccurs="0"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of exam parts</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="examPartStructure" type="partStructureValueType"
						use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="teachingActivityValueType">
		<xs:annotation>
			<xs:documentation>Enumeration set of values for teachingActivity (lecture, class work,
				seminar, project etc)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="conference"/>
			<xs:enumeration value="colloque"/>
			<xs:enumeration value="seminaire"/>
			<xs:enumeration value="exercices"/>
			<xs:enumeration value="projet"/>
			<xs:enumeration value="travauxDeGroupe"/>
			<xs:enumeration value="travauxDeLaboratoire"/>
			<xs:enumeration value="webBased"/>
			<xs:enumeration value="webSupported"/>
			<xs:enumeration value="Correspondance"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CDMdateTime" mixed="true">
		<xs:annotation>
			<xs:documentation>Moment of time given by date and/or time of day and/or
				text</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="infoBlockType">
				<xs:attribute name="date" type="xs:date" use="optional"/>
				<xs:attribute name="time" type="xs:time" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CDMdate" mixed="true">
		<xs:annotation>
			<xs:documentation>Period of time given by date and/or text</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="infoBlockType">
				<xs:attribute name="date" type="xs:date" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CDMtime" mixed="true">
		<xs:annotation>
			<xs:documentation>Moment of time given by time of day and/or text</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="infoBlockType">
				<xs:attribute name="time" type="xs:time" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CDMlocation">
		<xs:annotation>
			<xs:documentation>Location given by room and/or building and/or text</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="adr" minOccurs="0"/>
			<xs:element ref="infoBlock" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="room" type="xs:token" use="optional"/>
		<xs:attribute name="building" type="xs:token" use="optional"/>
	</xs:complexType>
	<xs:complexType name="textType" mixed="true">
		<xs:annotation>
			<xs:documentation>Text expressed in one or more languages</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded" minOccurs="0">
			<xs:element name="text">
				<xs:annotation>
					<xs:documentation>The information of this text expressed in a given
						languages</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="language" type="xs:language" use="optional"/>
							<!-- 2.1:  added xs:anyAttribute to permit use of xml:lang -->
							<xs:anyAttribute/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<!-- 2.1:  added xs:anyAttribute to permit use of xml:lang -->
		<xs:anyAttribute/>
	</xs:complexType>
	<!-- *** Organisational Unit *** -->
	<xs:complexType name="orgUnitType">
		<xs:annotation>
			<xs:documentation>An element of type orgUnitType represents an organisational unit that
				organises or provides study programs and courses. In general, a given program or
				course may be organised/provided by multiple organisational units. An organisational
				unit can have a hierarchical structure with subordinate organisational units (e.g.
				university, faculty, institute). The concept of organisational unit is supposed to
				encompass all organisational structures with educational offerings from a
				traditional university to a loosely defined consortium. </xs:documentation>
			<xs:documentation xml:lang="fr-FR">.</xs:documentation>
		</xs:annotation>
		<!-- AR75 changed from sequence to choice with maxOcurs unbounded, to make the order of the elements insignificant.
			(The maxOccurs and minOccurs attributes on the individual elements are now obsolete)
		-->
		<xs:choice maxOccurs="unbounded">
			<xs:element name="orgUnitID" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Shorthand identification of the organisation
						unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- 2.1: orgUnitName made unbounded -->
			<xs:element name="orgUnitName" type="textType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Full name of the organisation unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="cdmfr:orgUnitSecondName" minOccurs="0"/>
			<xs:element name="orgUnitAcronym" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acronym for the organisation unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orgUnitCode" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An organisation unit code according to a codification scheme.
						The choice of codification rule can be given by the attribute codeSet.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:token">
							<xs:attribute name="codeSet" type="orgUnitCodeValueSet" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="orgUnitKind">
				<xs:annotation>
					<xs:documentation>Kind of organisation unit, ex university, high school and
						responsible body such as public or privat. </xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
					<xs:complexContent mixed="true">
						<xs:extension base="infoBlockType">
							<xs:attribute name="orgType" type="cdmfr:orgUnitKindNameValueSet"
								use="optional"/>
							<xs:attribute name="orgTypeCode" type="cdmfr:orgUnitKindCodeValueSet"
								use="optional"/>
							<xs:attribute name="responsibleBody" type="responsibleBodyValueType"
								use="optional"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="cdmfr:webLink" minOccurs="0"/>
			<!-- 2.1: orgUnitIntroduction made unbounded -->
			<xs:element name="orgUnitIntroduction" type="infoBlockType" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A general introduction of the organisational
						unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- 2.1: orgUnitDescription made unbounded -->
			<xs:element name="orgUnitDescription" type="infoBlockType" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A general description of the organisational
						unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="admissionInfo" minOccurs="0"/>
			<xs:element ref="regulations" minOccurs="0"/>
			<!-- 2.1: expenses made unbounded -->
			<xs:element ref="expenses" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="studentFacilities" minOccurs="0"/>
			<xs:element ref="universalAdjustment" minOccurs="0"/>
			<xs:element ref="contacts" minOccurs="0"/>
			<xs:element ref="cdmfr:orgUnitAip" minOccurs="0"/>
			<xs:element ref="infoBlock" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="program">
					<xs:annotation>
						<xs:documentation>programme de formation porté par cette
							entité</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="cdmfr:refProgram"/>
			</xs:choice>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="course"/>
				<xs:element ref="cdmfr:refCourse"/>
			</xs:choice>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="person"/>
				<xs:element ref="refPerson"/>
			</xs:choice>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="orgUnit"/>
				<xs:element ref="cdmfr:refOrgUnit"/>
			</xs:choice>
			<xs:element ref="searchword" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="id" type="xs:ID" use="optional"/>
		<xs:attribute name="ident" type="xs:token" use="optional"/>
		<xs:attribute name="language" type="xs:language" use="optional"/>
		<!-- 2.1:  added xs:anyAttribute to permit use of xml:lang -->
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:element name="orgUnit" type="orgUnitType">
		<xs:annotation>
			<xs:documentation>Organisational unit</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="studentFacilities" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>General information for students such as cost of living,
				accommodation, meals, medical facilities, insurance, sports facilities, student
				associations etc.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- *** Program  *** -->
	<xs:element name="program">
		<xs:annotation>
			<xs:documentation>A description of a study program that is organised or provided by an
				organisational unit.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="programType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="programDescription" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>A (short) general description of the study program</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="qualification">
		<xs:annotation>
			<xs:documentation>Learning outcomes, skills, competencies, marks and/or grades obtained,
				rights to practise and/or professional status at different levels accorded to the
				holders of the qualification.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<!-- AR75 maxOccurs made unbounded -->
				<xs:element name="qualificationName" type="textType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Full name of the qualification</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="cdmfr:qualificationDescription" maxOccurs="unbounded"/>
				<xs:element ref="cdmfr:credits" minOccurs="0"/>
				<xs:element ref="cdmfr:degree"/>
				<xs:element ref="cdmfr:profession" maxOccurs="unbounded"/>
				<xs:element ref="cdmfr:studyQualification" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="level">
		<xs:annotation>
			<xs:documentation>Level of the study, eg undergraduate, bachelor,
				master.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="infoBlockType">
					<xs:attribute name="level" type="levelValueType" use="optional"/>
					<xs:attribute name="competenceYielding" type="cdmfr:competenceYieldingValueType"
						use="optional"/>
					<xs:attribute name="competenceYieldingCode"
						type="cdmfr:competenceYieldingValueCode" use="optional"/>
					<xs:attribute name="languageCECRLLevel" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="levelCode">
		<xs:annotation>
			<xs:documentation>A level code according to a codification scheme. The choice of
				codification rule can be given by the attribute codeSet. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:token">
					<xs:attribute name="codeSet" type="levelCodeValueSet" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="learningObjectives" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>Aim and objective of the study (preferably expressed in terms of
				learning outcomes and competence). Learning outcomes are statements of what a
				learner is expected to know, understand and/or be able to demonstrate after
				completion of a process of learning.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="admissionInfo">
		<xs:annotation>
			<xs:documentation>General information about admission.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<!-- 2.1: admissionDescription made unbounded -->
				<xs:element ref="cdmfr:admissionDescription" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cdmfr:studentStatus"/>
				<xs:element ref="cdmfr:ectsRequired"/>
				<xs:element ref="studentPlaces" minOccurs="0"/>
				<xs:element ref="teachingStart" minOccurs="0"/>
				<xs:element ref="registrationDeadline" minOccurs="0"/>
				<xs:element ref="cancelDeadline" minOccurs="0"/>
				<xs:element ref="cdmfr:registrationDetail" minOccurs="0"/>
				<xs:element ref="cdmfr:refOrgUnit" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="recommendedPrerequisites" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>Description of any recommended prerequisites for the program or
				course.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="formalPrerequisites" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>Description of any formal prerequisites for the program or
				course.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="teachingPlace">
		<xs:annotation>
			<xs:documentation>Where the teaching and learning activities takes
				place.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cdmfr:CDMlocation"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="targetGroup" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>The intended target group of the information about the
				study.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="formOfTeaching">
		<xs:annotation>
			<xs:documentation>Describes the form of teaching, e.g. face to face, web enhanced, web
				based.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="infoBlockType">
					<xs:attribute name="org" type="formOfTeachingOrgValueType" use="optional"/>
					<xs:attribute name="method" type="formOfTeachingMethodValueType" use="optional"/>
					<xs:attribute name="itpercentage" type="xs:nonNegativeInteger" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="programDuration">
		<xs:annotation>
			<xs:documentation>Information about time and duration of the program.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="infoBlockType">
					<xs:attribute name="start" type="xs:date" use="optional"/>
					<xs:attribute name="duration" type="xs:duration" use="optional"/>
					<xs:attribute name="semester" type="xs:nonNegativeInteger" use="optional"/>
					<xs:attribute name="studyPace" type="studyPaceValueType" use="optional"/>
					<xs:attribute name="timeOfDay" type="timeOfDayValueType" use="optional"/>
					<!-- 2.1: added attribute term of type teachingTermValueType, startup frequency for the program  -->
					<xs:attribute name="term" type="teachingTermValueType" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="programStructure" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>Information about how the study program is structured, e.g. as a
				course structure diagram.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="regulations" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>A general description of regulations, e.g. examination regulations and
				regulations regarding courses, assessment types and grading
				scales.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="studyAbroad" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>Information about possibilities of performing study
				abroad</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="expenses">
		<xs:annotation>
			<xs:documentation>Expected expenses associated with the organisational unit, program or
				course.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="infoBlockType">
					<xs:attribute name="price" type="xs:nonNegativeInteger" use="optional"/>
					<xs:attribute name="currency" type="xs:token" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="universalAdjustment" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>Facilities for special needs students</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="studentPlaces">
		<xs:annotation>
			<xs:documentation>Limitation on the number of attending students</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="infoBlockType">
					<xs:attribute name="places" type="xs:nonNegativeInteger" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="teachingStart" type="CDMdateTime">
		<xs:annotation>
			<xs:documentation>Information about the start of study </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="degree">
		<xs:annotation>
			<xs:documentation>Degree describes the qualification awarded by a higher education
				institution after successful completion of a prescribed study
				programme.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="infoBlockType">
					<xs:attribute name="degree" type="degreeValueType" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="profession" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>Learning outcomes, skills, job opportunities. What does the
				qualification give in terms of employment or professional
				practice.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="studyQualification" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>Qualification giving access to further study.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="subProgram">
		<xs:annotation>
			<xs:documentation>Description of a sub-program, e.g. discipline (I Norge: eks.
				studieretning, spesialisering)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="programType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- *** Course  *** -->
	<xs:complexType name="courseType">
		<xs:annotation>
			<xs:documentation>Description of a course unit with curriculum, time schedule, teaching
				activities and exam.</xs:documentation>
		</xs:annotation>
		<!-- AR75 changed from sequence to choice with maxOcurs unbounded, to make the order of the elements insignificant.
			(The maxOccurs and minOccurs attributes on the individual elements are now obsolete)
		-->
		<xs:choice maxOccurs="unbounded">
			<xs:element name="courseID" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Shorthand identification of the course unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- 2.1: courseName made unbounded -->
			<xs:element name="courseName" type="textType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Full name of the course unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="courseCode" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A course unit code according to a codification scheme. The
						choice of codification rule can be given by the attribute codeSet.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:token">
							<xs:attribute name="codeSet" type="courseCodeValueSet" use="optional"/>
							<xs:attribute name="userDefined" type="xs:token"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="cdmfr:webLink" minOccurs="0"/>
			<!-- 2.1: courseIntroduction made unbounded -->
			<xs:element name="courseIntroduction" type="infoBlockType" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A (short) general introduction of the course
						unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- 2.1: courseDescription made unbounded -->
			<xs:element name="courseDescription" type="cdmfr:courseDescriptionType">
				<xs:annotation>
					<xs:documentation>A (short) general description of the course
						unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="level" minOccurs="0"/>
			<xs:element ref="levelCode" minOccurs="0" maxOccurs="unbounded"/>
			<!-- 2.1: teachingTerm made unbounded -->
			<xs:element ref="teachingTerm" minOccurs="0"/>
			<xs:element ref="cdmfr:credits" minOccurs="0"/>
			<!-- 2.1: learningObjectives made unbounded -->
			<xs:element ref="learningObjectives" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="admissionInfo" minOccurs="0"/>
			<!-- 2.1: recommendedPrerequisites made unbounded -->
			<xs:element ref="recommendedPrerequisites" minOccurs="0" maxOccurs="unbounded"/>
			<!-- 2.1: formalPrerequisites made unbounded -->
			<xs:element ref="formalPrerequisites" maxOccurs="unbounded"/>
			<xs:element ref="teachingPlace" minOccurs="0"/>
			<xs:element ref="targetGroup" minOccurs="0"/>
			<!-- 2.1: formOfTeaching made unbounded -->
			<xs:element ref="formOfTeaching" minOccurs="0" maxOccurs="unbounded"/>
			<!-- 2.1: formOfAssessment made unbounded -->
			<xs:element ref="formOfAssessment" minOccurs="0" maxOccurs="unbounded"/>
			<!-- 2.1: benefits made unbounded -->
			<xs:element name="benefits" type="infoBlockType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Description of benefits, e.g. grants, available for students
						attending the course.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="instructionLanguage" minOccurs="0"/>
			<xs:element name="overlap" type="infoBlockType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Overlap, ex between courses.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="syllabus" minOccurs="0"/>
			<!-- 2.1: expenses made unbounded -->
			<xs:element ref="expenses" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="universalAdjustment" minOccurs="0"/>
			<xs:element name="exam" type="cdmfr:examType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the exam of the course</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="teachingActivity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the teaching activities of the
						course</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="teachingActivityType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="contacts" minOccurs="0"/>
			<xs:element ref="infoBlock" minOccurs="0"/>
			<xs:element ref="searchword" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="id" type="xs:ID" use="optional"/>
		<xs:attribute name="ident" type="xs:token" use="optional"/>
		<xs:attribute name="language" type="xs:language" use="optional"/>
		<!-- 2.1:  added xs:anyAttribute to permit use of xml:lang -->
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:element name="course">
		<xs:annotation>
			<xs:documentation>Description of a course, smallest structure that can be
				described.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="courseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="teachingTerm">
		<xs:annotation>
			<!-- 2.1: added line to doc -->
			<xs:documentation>Information on when the course is held, ex every spring, year of
				study. Also used for program startup frequency</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="infoBlockType">
					<!-- 2.1: type of @start changed from xs:token to xs:date -->
					<xs:attribute name="start" type="xs:date" use="optional"/>
					<xs:attribute name="term" type="teachingTermValueType" use="optional"/>
					<xs:attribute name="studyPace" type="studyPaceValueType" use="optional"/>
					<xs:attribute name="timeOfDay" type="timeOfDayValueType" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="credits">
		<xs:annotation>
			<xs:documentation>Indication of the student workload as ECTS (European Credit Transfer
				System)-credits and/or as hours per week and/or as text.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="infoBlockType">
					<xs:attribute name="ECTScredits" type="xs:decimal" use="optional"/>
					<xs:attribute name="hoursPerWeek" type="xs:decimal" use="optional"/>
					<xs:attribute name="totalWorkLoad" type="xs:decimal" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="formOfAssessment" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>How is the students assessed. The total range of written, oral and
				practical tests/examinations, projects and portfolios, used to evaluate the
				student’s progress in the course unit or module, form an assessment. These measures
				may be used by the students to evaluate their own progress (formative assessment) or
				by the institution to judge whether the student has achieved the learning outcomes
				of the course unit or module (summative assessment).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="instructionLanguage">
		<xs:annotation>
			<xs:documentation>Main language of instruction</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="infoBlockType">
					<xs:attribute name="teachingLang" type="xs:language" use="optional"/>
					<xs:attribute name="percentage" type="xs:nonNegativeInteger" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="syllabus" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>Information on syllabus, ex books/literature prescribed for study.
				(This is a natural place to refer to LOM objects).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- *** Exam  *** -->
	<xs:element name="registrationDeadline" type="CDMdateTime">
		<xs:annotation>
			<xs:documentation>Deadline for registration to the study or exam</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cancelDeadline" type="CDMdateTime">
		<xs:annotation>
			<xs:documentation>Deadline for cancelling any registration to the study or exam.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="evaluationDeadline" type="CDMdateTime">
		<xs:annotation>
			<xs:documentation>Deadline for announcement of the results of the
				exam</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="examStart" type="CDMdateTime">
		<xs:annotation>
			<xs:documentation>Date and time for the start of the exam</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="examEnd" type="CDMdateTime">
		<xs:annotation>
			<xs:documentation>Date and time for the end of the exam</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="examLocation" type="CDMlocation">
		<xs:annotation>
			<xs:documentation>Location of the exam</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- *** Teaching activity *** -->
	<xs:complexType name="teachingActivityType">
		<xs:annotation>
			<xs:documentation>Information on how the teaching activity is organised, ex lecture,
				seminar, research seminar, exercise course, practical, laboratory work, guided
				personal study, tutorial, independent studies, internship, placement or ‘stage’,
				fieldwork, project work etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="teachingActivityID" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Shorthand identification of the teaching
						activity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="teachingActivityName" type="textType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Full name of the teaching activity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="admissionInfo" minOccurs="0"/>
			<xs:element ref="timetableElement" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="instructionLanguage" minOccurs="0"/>
			<xs:element ref="contacts" minOccurs="0"/>
			<xs:element ref="infoBlock" minOccurs="0"/>
			<xs:element name="teachingActivityStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Teaching activity part structure</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="partStructure" type="infoBlockType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description of relationships between the activity
									parts</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="activityParts" type="teachingActivityType" minOccurs="0"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of teaching activity parts</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="activityPartStructure" type="partStructureValueType"
						use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="method" type="teachingActivityValueType" use="optional"/>
		<xs:attribute name="org" type="formOfTeachingOrgValueType" use="optional"/>
		<xs:attribute name="timeOfDay" type="timeOfDayValueType" use="optional"/>
		<xs:attribute name="userDefined" type="xs:token" use="optional"/>
		<xs:attribute name="e-portfolio" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<!-- *** Timetable element *** -->
	<xs:complexType name="timetableType">
		<xs:annotation>
			<xs:documentation>Description of an entry in a time table</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="reoccurringEvents">
					<xs:annotation>
						<xs:documentation>Events occurring many times in a period</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="occurrenceRule" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Rule of the occurrences, e.g. each
										Monday</xs:documentation>
								</xs:annotation>
								<xs:complexType mixed="true">
									<xs:complexContent mixed="true">
										<xs:extension base="infoBlockType">
											<xs:attribute name="weekday" type="xs:token"
												use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="dateFrom" type="CDMdate" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Start of period</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="dateTo" type="CDMdate" minOccurs="0">
								<xs:annotation>
									<xs:documentation>End of period</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="timeFrom" type="CDMtime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Time of the start of each event in the
										period</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="timeTo" type="CDMtime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Time of the end of each event in the
										period</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="singleEvent">
					<xs:annotation>
						<xs:documentation>Start and end of a single event</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="start" type="CDMdateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Time of the start of the
										event</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="end" type="CDMdateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Time of the end of the
										event</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element ref="teachingPlace" minOccurs="0"/>
			<xs:element ref="contacts" minOccurs="0"/>
			<xs:element ref="infoBlock" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="timetableElement" type="timetableType">
		<xs:annotation>
			<xs:documentation>Time table entry</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- *** Person *** -->
	<xs:complexType name="personType">
		<xs:annotation>
			<xs:documentation>Contact information of persons related to the accomplishment of
				courses.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="personID" type="xs:token">
				<xs:annotation>
					<xs:documentation>Identification of the person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Name of the person</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="given" type="xs:token">
							<xs:annotation>
								<xs:documentation>Given name</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="family" type="xs:token">
							<xs:annotation>
								<xs:documentation>Family name</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="title" type="cdmfr:title">
				<xs:annotation>
					<xs:documentation>Title posessed by the person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="role" type="textType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A person may have different roles in different contexts, e.g.
						lecturer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="cdmfr:affiliation" maxOccurs="unbounded"/>
			<xs:element ref="cdmfr:activities" minOccurs="0"/>
			<xs:element ref="contactData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="infoBlock" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/>
		<xs:attribute name="ident" type="xs:token" use="optional"/>
		<xs:attribute name="language" type="xs:language" use="optional"/>
	</xs:complexType>
	<xs:element name="person">
		<xs:annotation>
			<xs:documentation>Information about a person</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="personType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- *** Address and contact information*** -->
	<xs:element name="adr">
		<xs:annotation>
			<xs:documentation>The address used to deliver physical objects to this contact.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pobox" type="xs:token" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The post office box number component of the
							address</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="extadr" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Extra address space. Any non-street components of the
							address e.g., suite number, etc</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="street" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The actual street address</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="locality" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The locality component of the address e.g., the City. Use
							attribute for County code.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:token">
								<xs:attribute name="countyCode" type="xs:nonNegativeInteger"
									use="optional"/>
								<xs:attribute name="municipalityCode" type="xs:nonNegativeInteger"
									use="optional"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="region" type="xs:token" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The region component of the address. State and Province
							are examples of Region</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pcode" type="xs:token" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The postal code component of the address. This format
							varies from country to country.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="country" type="xs:token" minOccurs="0">
					<xs:annotation>
						<xs:documentation>he country component of the address. The format is based
							upon ISO3166.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="contactDataType">
		<xs:annotation>
			<xs:documentation>Information such as address, telephone, fax, email, URL etc. related
				to a given contact.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contactName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name relevant for this contact.</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
					<xs:complexContent mixed="true">
						<xs:extension base="textType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="adr" minOccurs="0"/>
			<xs:element name="visitHour" type="infoBlockType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information on when the contact is
						available.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="telephone" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The telephone numbers used for this contact. Attribute: mobil,
						home and office</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:token">
							<xs:attribute name="teltype" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:enumeration value="mobile"/>
										<xs:enumeration value="office"/>
										<xs:enumeration value="home"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="fax" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fax number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="email" minOccurs="0"/>
			<xs:element ref="webLink" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="infoBlock" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="userDefined" type="xs:token" use="optional"/>
	</xs:complexType>
	<xs:element name="contacts">
		<xs:annotation>
			<xs:documentation>A set of contact information. A contact can be given by contact data
				(address, etc.), by indication of a person, by indication of a organisational unit,
				or by a textual description.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="contactData" minOccurs="0"/>
				<xs:element ref="person" minOccurs="0"/>
				<xs:element ref="refPerson" minOccurs="0"/>
				<xs:element ref="refOrgUnit" minOccurs="0"/>
				<xs:element ref="infoBlock" minOccurs="0"/>
				<xs:element ref="cdmfr:refOrgResp" minOccurs="0"/>
				<xs:element ref="cdmfr:teachingTeam" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="contactData" type="contactDataType">
		<xs:annotation>
			<xs:documentation>Information such as address, telephone, fax, email, URL etc. related
				to a given contact.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--*** infoBlock ***-->
	<xs:complexType name="infoBlockType" mixed="true">
		<xs:annotation>
			<xs:documentation>General type for various kind of information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!-- 2.1: added xs:any to allow xhtml here -->
			<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="strict" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="header" type="xs:token" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Header text for this information block</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="bold" type="infoBlockType">
					<xs:annotation>
						<xs:documentation>Text in bold</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="italic" type="infoBlockType">
					<xs:annotation>
						<xs:documentation>Text in italic</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="p" type="infoBlockType">
					<xs:annotation>
						<xs:documentation>Text in italic</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="br">
					<xs:annotation>
						<xs:documentation>Pagebreak element</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="list">
					<xs:annotation>
						<xs:documentation>A list of items. The list can be bulleted or
							numbered</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="listItem" type="infoBlockType"/>
						</xs:sequence>
						<xs:attribute name="listType" use="optional" default="bulleted">
							<xs:simpleType>
								<xs:restriction base="xs:token">
									<xs:enumeration value="bulleted"/>
									<xs:enumeration value="numbered"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="email" type="xs:token">
					<xs:annotation>
						<xs:documentation>email address</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="webLink"/>
				<xs:choice>
					<xs:annotation>
						<xs:documentation>A reference to a xxx-element based on application rules.
						</xs:documentation>
					</xs:annotation>
					<xs:element ref="refOrgUnit"/>
					<xs:element ref="refProgram"/>
					<xs:element ref="refCourse"/>
					<xs:element ref="refPerson"/>
				</xs:choice>
				<xs:element name="picture" type="infoBlockType">
					<xs:annotation>
						<xs:documentation>Picture, use attribute to refer to picture file and/or
							type text in the element. </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="extension" type="xs:anyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>To ensure extensibility, the specification requires that there
						be no limit on potential extensions by use of the extension element. To be
						used for adding information to an existing XML structure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subBlock" type="infoBlockType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Nesting of information in sub-blocks</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="altLangBlock" type="infoBlockType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The information of this block expressed in other
						languages</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="searchword" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="blockLang" type="xs:language" use="optional"/>
		<xs:attribute name="userDefined" type="xs:token" use="optional"/>
		<!-- 2.1: added xs:anyAttribute to permit use of xml:lang -->
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:element name="infoBlock" type="infoBlockType">
		<xs:annotation>
			<xs:documentation>Miscellaneous information</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="br">
		<xs:complexType/>
	</xs:element>
	<xs:element name="email" type="xs:token">
		<xs:annotation>
			<xs:documentation>Email address</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="webLink">
		<xs:annotation>
			<xs:documentation>Link to a web page. Possbile to describe the role of the web page such
				as home page and LOM (learning object metadata)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="href" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="linkName" type="xs:token" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Name of the web page</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="role" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="homepage"/>
						<xs:enumeration value="learningObjectMetadata"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="userDefined" type="xs:token" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="href" type="xs:token">
		<xs:annotation>
			<xs:documentation>URL, ex http://www.estandard.no</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="refOrgUnit">
		<xs:annotation>
			<xs:documentation>Reference to a orgUnit element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="idRef" type="xs:IDREF" use="optional"/>
			<xs:attribute name="ref" type="xs:token" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="refProgram">
		<xs:annotation>
			<xs:documentation>Reference to a program element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="idRef" type="xs:IDREF" use="optional"/>
			<xs:attribute name="ref" type="xs:token" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="refCourse">
		<xs:annotation>
			<xs:documentation>Reference to a course element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="idRef" type="xs:IDREF" use="optional"/>
			<xs:attribute name="ref" type="xs:token" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="refPerson">
		<xs:annotation>
			<xs:documentation>Reference to a person element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="idRef" type="xs:IDREF" use="optional"/>
			<xs:attribute name="ref" type="xs:token" use="optional"/>
			<xs:attribute name="role" type="xs:token" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchword" type="xs:token">
		<xs:annotation>
			<xs:documentation>A search text that can be used to identify the enclosing
				element.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
